XO_Project_UAT/Project--XOGrp--UAT/src/flows/Lead_Assignments_on_Creation_or_Edit-9.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>XO_Group_Internal_Freemium_Featured</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_29_A1</name>
        <label>Inbound Paid Media Lead - contact immediately</label>
        <locationX>2900</locationX>
        <locationY>200</locationY>
        <actionName>Lead.XO_Group_Internal_Freemium_Featured</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_29_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Update Zip Code Lookup on Lead</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_8_A1</name>
        <label>Fill in the Zip Code Reference if found</label>
        <locationX>800</locationX>
        <locationY>200</locationY>
        <actionName>Update_Zip_Code_Lookup_on_Lead</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myDecision10</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>LeadZip</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>LeadZip</name>
            <value>
                <elementReference>formula_9_myRule_8_A1_9646489756</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>LeadId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>LeadId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Fill Lead Source Acc Field</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>Has the Paid Media Lead moved to valid</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>Core AE Self Prospecting Primary</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>Core AE Self Prospecting Secondary</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision16</name>
        <label>myDecision16</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>BDR Self Prospecting Primary</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision18</name>
        <label>myDecision18</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_19</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>BDR Self Prospecting Secondary</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision20</name>
        <label>myDecision20</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision22</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_21</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_21_A1</targetReference>
            </connector>
            <label>SSE Self Prospecting Primary</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision22</name>
        <label>myDecision22</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision24</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_23</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_23_A1</targetReference>
            </connector>
            <label>SSE Self Prospecting Secondary</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision24</name>
        <label>myDecision24</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision26</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_25</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_25_A1</targetReference>
            </connector>
            <label>Inbound Self Prospecting</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>11.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision26</name>
        <label>myDecision26</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision28</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_27</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_27</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_27_A1</targetReference>
            </connector>
            <label>Is this a SSE Portfolio Lead</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision28</name>
        <label>myDecision28</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_29</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_29</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_29_A1</targetReference>
            </connector>
            <label>Hot Lead Notification</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>WF_LeadEmailAcc</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision7</name>
        <label>myDecision7</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_8</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_8_A1</targetReference>
            </connector>
            <label>Is the Zip Code Changing, Is the Zip Code in the US</label>
        </rules>
    </decisions>
    <description>This will handle the logic introduced with CSP-2453 but does not reassign all leads</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TEXT([Lead].LeadSource  )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_3187772897</name>
        <dataType>String</dataType>
        <expression>TEXT({!myVariable_current.LeadSource}  )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TEXT ( [Lead].LeadSource )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_4_A2_8809958157</name>
        <dataType>String</dataType>
        <expression>TEXT ( {!myVariable_current.LeadSource} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Lead].Email </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_4_A1_6057208150</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Email}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>LEFT([Lead].PostalCode, 5) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_8_A1_9646489756</name>
        <dataType>String</dataType>
        <expression>LEFT({!myVariable_current.PostalCode}, 5)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TEXT([Lead].LeadSource )  !=  [Lead].LeadSourceAcc__c</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>TEXT({!myVariable_current.LeadSource} )  !=  {!myVariable_current.LeadSourceAcc__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
         
         [Lead].RecordType.Name = &apos;Local&apos;,
         ISPICKVAL([Lead].LeadSource, &apos;Paid Media&apos;), 
         ISPICKVAL([Lead].Status, &apos;Valid&apos;) , 
         OR(AND(ISNEW()), 
                ISCHANGED([Lead].Status),
                ISCHANGED([Lead].LeadSource)
           )  
 )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>AND(
         
         {!myVariable_current.RecordType.Name} = &apos;Local&apos;,
         ISPICKVAL({!myVariable_current.LeadSource}, &apos;Paid Media&apos;), 
         ISPICKVAL({!myVariable_current.Status}, &apos;Valid&apos;) , 
         OR(AND(ISNEW()), 
                ISCHANGED({!myVariable_current.Status}),
                ISCHANGED({!myVariable_current.LeadSource})
           )  
 )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue> AND(
       [Lead].RecordType.Name = &apos;Local&apos;, 
       ISPICKVAL([Lead].LeadSource , &apos;Self Prospecting&apos;),
       CONTAINS([Lead].CreatedBy.UserRole.Name, &apos;Sales Representative &apos;),  
       !CONTAINS([Lead].CreatedBy.UserRole.Name, &apos;BDR&apos;),  
       !ISBLANK([Lead].Category_Group__c ),
       [Lead].Category_Group__c  = &apos;Primary&apos;,
       !ISPICKVAL([Lead].Lead_Creator_Type__c, &apos;Skip Assignment Rule&apos;),
       ISPICKVAL([Lead].Status, &apos;Valid&apos;),
       [Lead].CreatedById != [Lead].OwnerId,
       OR(ISNEW(),
           ISCHANGED([Lead].PostalCode),
           ISCHANGED([Lead].Primary_Category__c ),
           ISCHANGED([Lead].LeadSource ),
           ISCHANGED([Lead].Status)
     )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>AND(
       {!myVariable_current.RecordType.Name} = &apos;Local&apos;, 
       ISPICKVAL({!myVariable_current.LeadSource} , &apos;Self Prospecting&apos;),
       CONTAINS({!myVariable_current.CreatedBy.UserRole.Name}, &apos;Sales Representative &apos;),  
       !CONTAINS({!myVariable_current.CreatedBy.UserRole.Name}, &apos;BDR&apos;),  
       !ISBLANK({!myVariable_current.Category_Group__c} ),
       {!myVariable_current.Category_Group__c}  = &apos;Primary&apos;,
       !ISPICKVAL({!myVariable_current.Lead_Creator_Type__c}, &apos;Skip Assignment Rule&apos;),
       ISPICKVAL({!myVariable_current.Status}, &apos;Valid&apos;),
       {!myVariable_current.CreatedById} != {!myVariable_current.OwnerId},
       OR(ISNEW(),
           ISCHANGED({!myVariable_current.PostalCode}),
           ISCHANGED({!myVariable_current.Primary_Category__c} ),
           ISCHANGED({!myVariable_current.LeadSource} ),
           ISCHANGED({!myVariable_current.Status})
     )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>
    AND(
              [Lead].RecordType.Name = &apos;Local&apos;,
              ISPICKVAL([Lead].LeadSource , &apos;Self Prospecting&apos;),
              CONTAINS([Lead].CreatedBy.UserRole.Name, &apos;Sales Representative &apos;),  
              !CONTAINS([Lead].CreatedBy.UserRole.Name, &apos;BDR&apos;),  
              !ISBLANK([Lead].Category_Group__c ),
              [Lead].Category_Group__c  = &apos;Secondary&apos;,
              !ISPICKVAL([Lead].Lead_Creator_Type__c, &apos;Skip Assignment Rule&apos;),
              ISPICKVAL([Lead].Status, &apos;Valid&apos;),
              [Lead].CreatedById != [Lead].OwnerId,
             OR(ISNEW(),
                 ISCHANGED([Lead].PostalCode),
                 ISCHANGED([Lead].Primary_Category__c ),
                 ISCHANGED([Lead].LeadSource ),
                 ISCHANGED([Lead].Status)
           )
    
) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>AND(
              {!myVariable_current.RecordType.Name} = &apos;Local&apos;,
              ISPICKVAL({!myVariable_current.LeadSource} , &apos;Self Prospecting&apos;),
              CONTAINS({!myVariable_current.CreatedBy.UserRole.Name}, &apos;Sales Representative &apos;),  
              !CONTAINS({!myVariable_current.CreatedBy.UserRole.Name}, &apos;BDR&apos;),  
              !ISBLANK({!myVariable_current.Category_Group__c} ),
              {!myVariable_current.Category_Group__c}  = &apos;Secondary&apos;,
              !ISPICKVAL({!myVariable_current.Lead_Creator_Type__c}, &apos;Skip Assignment Rule&apos;),
              ISPICKVAL({!myVariable_current.Status}, &apos;Valid&apos;),
              {!myVariable_current.CreatedById} != {!myVariable_current.OwnerId},
             OR(ISNEW(),
                 ISCHANGED({!myVariable_current.PostalCode}),
                 ISCHANGED({!myVariable_current.Primary_Category__c} ),
                 ISCHANGED({!myVariable_current.LeadSource} ),
                 ISCHANGED({!myVariable_current.Status})
           )
    
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue> AND(
       [Lead].RecordType.Name = &apos;Local&apos;,
       ISPICKVAL([Lead].LeadSource , &apos;Self Prospecting&apos;),
       CONTAINS([Lead].CreatedBy.UserRole.Name, &apos;BDR&apos;),
       !ISBLANK([Lead].Category_Group__c ),
       [Lead].Category_Group__c  = &apos;Primary&apos;,
       !ISPICKVAL([Lead].Lead_Creator_Type__c, &apos;Skip Assignment Rule&apos;),
       ISPICKVAL([Lead].Status, &apos;Valid&apos;),
       OR(ISNEW(),
           ISCHANGED([Lead].PostalCode),
           ISCHANGED([Lead].Primary_Category__c ),
           ISCHANGED([Lead].LeadSource ),
           ISCHANGED([Lead].Status)
     )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17</name>
        <dataType>Boolean</dataType>
        <expression>AND(
       {!myVariable_current.RecordType.Name} = &apos;Local&apos;,
       ISPICKVAL({!myVariable_current.LeadSource} , &apos;Self Prospecting&apos;),
       CONTAINS({!myVariable_current.CreatedBy.UserRole.Name}, &apos;BDR&apos;),
       !ISBLANK({!myVariable_current.Category_Group__c} ),
       {!myVariable_current.Category_Group__c}  = &apos;Primary&apos;,
       !ISPICKVAL({!myVariable_current.Lead_Creator_Type__c}, &apos;Skip Assignment Rule&apos;),
       ISPICKVAL({!myVariable_current.Status}, &apos;Valid&apos;),
       OR(ISNEW(),
           ISCHANGED({!myVariable_current.PostalCode}),
           ISCHANGED({!myVariable_current.Primary_Category__c} ),
           ISCHANGED({!myVariable_current.LeadSource} ),
           ISCHANGED({!myVariable_current.Status})
     )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue> AND(
             [Lead].RecordType.Name = &apos;Local&apos;, 
             ISPICKVAL([Lead].LeadSource , &apos;Self Prospecting&apos;),
             CONTAINS([Lead].CreatedBy.UserRole.Name, &apos;BDR&apos;),
             !ISBLANK([Lead].Category_Group__c ),
             [Lead].Category_Group__c  = &apos;Secondary&apos;,
             !ISPICKVAL([Lead].Lead_Creator_Type__c, &apos;Skip Assignment Rule&apos;),
             ISPICKVAL([Lead].Status, &apos;Valid&apos;),
             [Lead].CreatedById != [Lead].OwnerId,
             OR(ISNEW(),
                 ISCHANGED([Lead].PostalCode),
                 ISCHANGED([Lead].Primary_Category__c ),
                 ISCHANGED([Lead].LeadSource ),
                 ISCHANGED([Lead].Status)
           )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_19</name>
        <dataType>Boolean</dataType>
        <expression>AND(
             {!myVariable_current.RecordType.Name} = &apos;Local&apos;, 
             ISPICKVAL({!myVariable_current.LeadSource} , &apos;Self Prospecting&apos;),
             CONTAINS({!myVariable_current.CreatedBy.UserRole.Name}, &apos;BDR&apos;),
             !ISBLANK({!myVariable_current.Category_Group__c} ),
             {!myVariable_current.Category_Group__c}  = &apos;Secondary&apos;,
             !ISPICKVAL({!myVariable_current.Lead_Creator_Type__c}, &apos;Skip Assignment Rule&apos;),
             ISPICKVAL({!myVariable_current.Status}, &apos;Valid&apos;),
             {!myVariable_current.CreatedById} != {!myVariable_current.OwnerId},
             OR(ISNEW(),
                 ISCHANGED({!myVariable_current.PostalCode}),
                 ISCHANGED({!myVariable_current.Primary_Category__c} ),
                 ISCHANGED({!myVariable_current.LeadSource} ),
                 ISCHANGED({!myVariable_current.Status})
           )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>
     AND(
               [Lead].RecordType.Name = &apos;Local&apos;, 
               ISPICKVAL([Lead].LeadSource , &apos;Self Prospecting&apos;),
               CONTAINS([Lead].CreatedBy.UserRole.Name, &apos;Senior Sales Executive&apos;),
                !ISBLANK([Lead].Category_Group__c ),
                [Lead].Category_Group__c  = &apos;Primary&apos;,
                !ISPICKVAL([Lead].Lead_Creator_Type__c, &apos;Skip Assignment Rule&apos;),
                ISPICKVAL([Lead].Status, &apos;Valid&apos;),
                [Lead].CreatedById != [Lead].OwnerId,
                OR(ISNEW(),
                       ISCHANGED([Lead].PostalCode),
                       ISCHANGED([Lead].Primary_Category__c ),
                       ISCHANGED([Lead].LeadSource ),
                       ISCHANGED([Lead].Status)
           )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_21</name>
        <dataType>Boolean</dataType>
        <expression>AND(
               {!myVariable_current.RecordType.Name} = &apos;Local&apos;, 
               ISPICKVAL({!myVariable_current.LeadSource} , &apos;Self Prospecting&apos;),
               CONTAINS({!myVariable_current.CreatedBy.UserRole.Name}, &apos;Senior Sales Executive&apos;),
                !ISBLANK({!myVariable_current.Category_Group__c} ),
                {!myVariable_current.Category_Group__c}  = &apos;Primary&apos;,
                !ISPICKVAL({!myVariable_current.Lead_Creator_Type__c}, &apos;Skip Assignment Rule&apos;),
                ISPICKVAL({!myVariable_current.Status}, &apos;Valid&apos;),
                {!myVariable_current.CreatedById} != {!myVariable_current.OwnerId},
                OR(ISNEW(),
                       ISCHANGED({!myVariable_current.PostalCode}),
                       ISCHANGED({!myVariable_current.Primary_Category__c} ),
                       ISCHANGED({!myVariable_current.LeadSource} ),
                       ISCHANGED({!myVariable_current.Status})
           )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>
   AND(
             [Lead].RecordType.Name = &apos;Local&apos;, 
             ISPICKVAL([Lead].LeadSource , &apos;Self Prospecting&apos;),
             CONTAINS([Lead].CreatedBy.UserRole.Name, &apos;Senior Sales Executive&apos;),
             !ISBLANK([Lead].Category_Group__c ),
             [Lead].Category_Group__c  = &apos;Secondary&apos;,
             !ISPICKVAL([Lead].Lead_Creator_Type__c, &apos;Skip Assignment Rule&apos;),
             ISPICKVAL([Lead].Status, &apos;Valid&apos;),
            OR(ISNEW(),
                 ISCHANGED([Lead].PostalCode),
                 ISCHANGED([Lead].Primary_Category__c ),
                 ISCHANGED([Lead].LeadSource ),
                 ISCHANGED([Lead].Status)
           )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_23</name>
        <dataType>Boolean</dataType>
        <expression>AND(
             {!myVariable_current.RecordType.Name} = &apos;Local&apos;, 
             ISPICKVAL({!myVariable_current.LeadSource} , &apos;Self Prospecting&apos;),
             CONTAINS({!myVariable_current.CreatedBy.UserRole.Name}, &apos;Senior Sales Executive&apos;),
             !ISBLANK({!myVariable_current.Category_Group__c} ),
             {!myVariable_current.Category_Group__c}  = &apos;Secondary&apos;,
             !ISPICKVAL({!myVariable_current.Lead_Creator_Type__c}, &apos;Skip Assignment Rule&apos;),
             ISPICKVAL({!myVariable_current.Status}, &apos;Valid&apos;),
            OR(ISNEW(),
                 ISCHANGED({!myVariable_current.PostalCode}),
                 ISCHANGED({!myVariable_current.Primary_Category__c} ),
                 ISCHANGED({!myVariable_current.LeadSource} ),
                 ISCHANGED({!myVariable_current.Status})
           )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
          [Lead].RecordType.Name = &apos;Local&apos;,
          ISPICKVAL([Lead].LeadSource , &apos;Self Prospecting&apos;),
          CONTAINS([Lead].CreatedBy.UserRole.Name, &apos;Inbound Sales Executive&apos;),
          !ISPICKVAL([Lead].Lead_Creator_Type__c, &apos;Skip Assignment Rule&apos;),
          ISPICKVAL([Lead].Status, &apos;Valid&apos;),
          !ISBLANK([Lead].Category_Group__c ),
          [Lead].CreatedById != [Lead].OwnerId,
          OR(
             [Lead].Category_Group__c  = &apos;Primary&apos;,
             [Lead].Category_Group__c  = &apos;Secondary&apos;
          ),
          OR(ISNEW(),
                 ISCHANGED([Lead].PostalCode),
                 ISCHANGED([Lead].Primary_Category__c ),
                 ISCHANGED([Lead].LeadSource ),
                 ISCHANGED([Lead].Status)
          )
 ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_25</name>
        <dataType>Boolean</dataType>
        <expression>AND(
          {!myVariable_current.RecordType.Name} = &apos;Local&apos;,
          ISPICKVAL({!myVariable_current.LeadSource} , &apos;Self Prospecting&apos;),
          CONTAINS({!myVariable_current.CreatedBy.UserRole.Name}, &apos;Inbound Sales Executive&apos;),
          !ISPICKVAL({!myVariable_current.Lead_Creator_Type__c}, &apos;Skip Assignment Rule&apos;),
          ISPICKVAL({!myVariable_current.Status}, &apos;Valid&apos;),
          !ISBLANK({!myVariable_current.Category_Group__c} ),
          {!myVariable_current.CreatedById} != {!myVariable_current.OwnerId},
          OR(
             {!myVariable_current.Category_Group__c}  = &apos;Primary&apos;,
             {!myVariable_current.Category_Group__c}  = &apos;Secondary&apos;
          ),
          OR(ISNEW(),
                 ISCHANGED({!myVariable_current.PostalCode}),
                 ISCHANGED({!myVariable_current.Primary_Category__c} ),
                 ISCHANGED({!myVariable_current.LeadSource} ),
                 ISCHANGED({!myVariable_current.Status})
          )
 )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
    [Lead].RecordType.Name = &apos;Local&apos;,
    ISPICKVAL([Lead].Status, &apos;Valid&apos;), 
    [Lead].Portfolio__c = &apos;Senior Sales Executive&apos;, 
    !ISPICKVAL([Lead].LeadSource , &apos;Paid Media&apos;),
    !ISPICKVAL([Lead].Lead_Creator_Type__c, &apos;Skip Assignment Rule&apos;),
    OR(
        AND(
            !CONTAINS([Lead].CreatedBy.UserRole.Name, &apos;BDR&apos;),
            !CONTAINS([Lead].CreatedBy.UserRole.Name, &apos;Senior Sales Executive&apos;),
            !CONTAINS([Lead].CreatedBy.UserRole.Name, &apos;Inbound Sales Executive&apos;),
            !CONTAINS([Lead].CreatedBy.UserRole.Name, &apos;Local Core Account Executive&apos;)
        ),
        !ISPICKVAL([Lead].LeadSource , &apos;Self Prospecting&apos;),
        ISNULL([Lead].Primary_Category__c),
        AND(
            !ISBLANK([Lead].Category_Group__c),
            !([Lead].Category_Group__c  = &apos;Primary&apos;),
            !([Lead].Category_Group__c  = &apos;Secondary&apos;)
        )
    ),
    OR(ISNEW(),
       ISCHANGED([Lead].PostalCode),
       ISCHANGED([Lead].Primary_Category__c ),       
       ISCHANGED([Lead].LeadSource ),
       ISCHANGED([Lead].Status)
   )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_27</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    {!myVariable_current.RecordType.Name} = &apos;Local&apos;,
    ISPICKVAL({!myVariable_current.Status}, &apos;Valid&apos;), 
    {!myVariable_current.Portfolio__c} = &apos;Senior Sales Executive&apos;, 
    !ISPICKVAL({!myVariable_current.LeadSource} , &apos;Paid Media&apos;),
    !ISPICKVAL({!myVariable_current.Lead_Creator_Type__c}, &apos;Skip Assignment Rule&apos;),
    OR(
        AND(
            !CONTAINS({!myVariable_current.CreatedBy.UserRole.Name}, &apos;BDR&apos;),
            !CONTAINS({!myVariable_current.CreatedBy.UserRole.Name}, &apos;Senior Sales Executive&apos;),
            !CONTAINS({!myVariable_current.CreatedBy.UserRole.Name}, &apos;Inbound Sales Executive&apos;),
            !CONTAINS({!myVariable_current.CreatedBy.UserRole.Name}, &apos;Local Core Account Executive&apos;)
        ),
        !ISPICKVAL({!myVariable_current.LeadSource} , &apos;Self Prospecting&apos;),
        ISNULL({!myVariable_current.Primary_Category__c}),
        AND(
            !ISBLANK({!myVariable_current.Category_Group__c}),
            !({!myVariable_current.Category_Group__c}  = &apos;Primary&apos;),
            !({!myVariable_current.Category_Group__c}  = &apos;Secondary&apos;)
        )
    ),
    OR(ISNEW(),
       ISCHANGED({!myVariable_current.PostalCode}),
       ISCHANGED({!myVariable_current.Primary_Category__c} ),       
       ISCHANGED({!myVariable_current.LeadSource} ),
       ISCHANGED({!myVariable_current.Status})
   )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>/*CONTAINS(Fulfillment_Data__c, &quot;Featured&quot;)*/ 
/*Old logic being replaced SS-5437*/

AND(
           ISPICKVAL([Lead].LeadSource , &quot;Website&quot;),
           BEGINS([Lead].OwnerId, &quot;005&quot;),
           TODAY() = DATEVALUE([Lead].CreatedDate),
           OR(ISCHANGED([Lead].LeadSource),
                  ISCHANGED([Lead].OwnerId),
                  ISNEW()
            )

 )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_29</name>
        <dataType>Boolean</dataType>
        <expression>/*CONTAINS(Fulfillment_Data__c, &quot;Featured&quot;)*/ 
/*Old logic being replaced SS-5437*/

AND(
           ISPICKVAL({!myVariable_current.LeadSource} , &quot;Website&quot;),
           BEGINS({!myVariable_current.OwnerId}, &quot;005&quot;),
           TODAY() = DATEVALUE({!myVariable_current.CreatedDate}),
           OR(ISCHANGED({!myVariable_current.LeadSource}),
                  ISCHANGED({!myVariable_current.OwnerId}),
                  ISNEW()
            )

 )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue> AND(
    !ISNULL([Lead].Email),
    OR(
      ISNEW(),
      ISCHANGED([Lead].Email)  
    )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    !ISNULL({!myVariable_current.Email}),
    OR(
      ISNEW(),
      ISCHANGED({!myVariable_current.Email})  
    )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
         
          [Lead].RecordType.Name = &apos;Local&apos;,
          [Lead].Country = &apos;United States&apos;,
          LEN([Lead].PostalCode)  &gt; 4,
          OR(ISNEW(),
                 ISCHANGED([Lead].PostalCode)
          )
)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_8</name>
        <dataType>Boolean</dataType>
        <expression>AND(
         
          {!myVariable_current.RecordType.Name} = &apos;Local&apos;,
          {!myVariable_current.Country} = &apos;United States&apos;,
          LEN({!myVariable_current.PostalCode})  &gt; 4,
          OR(ISNEW(),
                 ISCHANGED({!myVariable_current.PostalCode})
          )
)</expression>
    </formulas>
    <interviewLabel>Lead_Assignments_on_Creation_or_Edit-9_InterviewLabel</interviewLabel>
    <label>Lead Assignments on Creation or Edit</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Update Owner To Distributable</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision12</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideLabel</name>
                <value>
                    <stringValue>Distributable</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Queue</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>00Gf1000002nf7qEAA</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Update Potential Duplicates</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision14</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Potential Duplicates</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>Potential_Duplicates__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Potential Duplicates</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>Potential_Duplicates__c</field>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>Update Owner To Distributable</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision16</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideLabel</name>
                <value>
                    <stringValue>Distributable</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Queue</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>00Gf1000002nf7qEAA</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_17_A1</name>
        <label>Update Potential Duplicate</label>
        <locationX>1700</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision18</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Potential Duplicates</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>Potential_Duplicates__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Potential Duplicates</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>Potential_Duplicates__c</field>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_19_A1</name>
        <label>Update Lead Record Owner to the Created</label>
        <locationX>1900</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision20</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Lead Source Acc Update</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision3</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>LeadSourceAcc</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>LeadSourceAcc__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_3187772897</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_21_A1</name>
        <label>Update Lead Owner</label>
        <locationX>2100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision22</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Portfolio</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Portfolio__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Senior Sales Executive</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.CreatedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_23_A1</name>
        <label>Update Owner To Distributable</label>
        <locationX>2300</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision24</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideLabel</name>
                <value>
                    <stringValue>Distributable</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Queue</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>00Gf1000002nf7qEAA</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_25_A1</name>
        <label>Update Lead Owner</label>
        <locationX>2500</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision26</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_27_A1</name>
        <label>Update Lead Owner to Distributable and Set Status</label>
        <locationX>2700</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision28</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideLabel</name>
                <value>
                    <stringValue>Distributable</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Queue</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>00Gf1000002nf7qEAA</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_29_A2</name>
        <label>send email log</label>
        <locationX>2900</locationX>
        <locationY>300</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Potential Duplicates</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Potential_Duplicates__c</field>
            <value>
                <stringValue>Send email</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>FU_LeadEmailAccount</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_4_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>EmailAccount</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>EmailAccount__c</field>
            <value>
                <elementReference>formula_6_myRule_4_A1_6057208150</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_4_A2</name>
        <label>FU_LeadSourceAcc</label>
        <locationX>400</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myDecision7</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>LeadSourceAcc</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>LeadSourceAcc__c</field>
            <value>
                <elementReference>formula_5_myRule_4_A2_8809958157</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
